{% extends 'base.html' %}
{% block content %}

<div class="container">
<br/>
    <div class="card mb-3" >
        
        <div class="row g-3">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}} </p>
                    {% if product.is_sale %}
                    <strike>{{product.price}}</strike> {{product.sale_price}}
                    {% else%}
                    {{product.price}}
                    {% endif %}
                    <br/>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
                    <a href="{% url 'add_cart' product.id %}" class="btn btn-secondary">Add to cart</a>
                
                
                </div>
            </div>
        </div>
    
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}